.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: salmon;
  font-size: 0.8rem;
  border-bottom: 0.5px solid salmon;
  margin: 4px 0;
}

.review {
  font-size: 0.9rem;
}

.star {
  color: gold;
}

.username {
  font-size: 0.9rem;
}

.date {
  font-size: 0.8rem;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  color: lightgray;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: white;
  background-color: salmon;
}

.button {
  border: none;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: salmon;
}

.login {
  background-color: greenyellow;
}

.register {
  background-color: tomato;
}

.buttons__container,
.logout {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
